<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
<input type="text" name="sender" placeholder="enter your name"><br>
<button onclick="get_senders()">SUBMIT</button>
 <input type="text" name="r" placeholder="Enter receiver's name">
 <button onclick="create_new_chat()">+new chat</button>
 <br><br>
 <div id="users" style="width: 40%; margin-left: 0;">
</div>
<label for="counter"></label>
<div  class="send_div" style="width:60%; right: 0px; position: absolute;" >
<strong><label for="receiver"  style="bottom: 0px;">receiver</label></strong>
<div id="chat"></div>
<input type="text" name="input msg" style="margin-bottom: 0;">
<button class="send" onclick="on_post(this)" style="margin-bottom:0 ;">
  Send</button>
</div>
  <script>
        const socket = io.connect("http://localhost:3000")
        // const socket = io()
      let chat_div = document.getElementById("chat")
      socket.on("express-chat",data=>{
        
       chat_div.innerHTML += '<p>'+data.msg +'</p>'
      })
        
      const show_notif=()=>{
        let sender = $("input[name='sender']").val()
       $.ajax({
         url: "/get-unread",
         method:"POST",
         data:{sender:sender},
         success:function(rooms){
         rooms.forEach(room=>{
           let btn = document.getElementById(room)
           if(btn){
             if(!btn.innerHTML.includes(" *")){
               btn.innerHTML += " *"
             }
           }
         })
          
         }
       })
      }
      setInterval(show_notif,3000)
//GET SENDERS
      const get_senders =()=>{
      document.getElementById("users").innerHTML =""

    let sender = $("input[name='sender']").val()
        $.ajax({
          url:"/get-my-senders",
          method:"POST",
          data:{sender:sender},
          success:function(res){
            res.forEach(res=>{
            if(res.roomID!=undefined){
          let btn = document.createElement('button')
            btn.id = res.roomID
            if(res.sender == sender){
              btn.innerHTML =""+res.receiver
            }
            if(res.receiver == sender){
              btn.innerHTML =""+res.sender

            }


            btn.onclick = function(){
        let cur_room = document.getElementsByClassName("active_room")
        if(cur_room.length>0){
        alert(cur_room[0].id)
      socket.emit("join-room",{room:btn.id, prev_room: cur_room[0].id})
        cur_room[0].classList.remove("active_room")

        }
       else{
      socket.emit("join-room",{room:btn.id, prev_room: "nothing"})

       }
        document.getElementById(btn.id).classList.add("active_room")

        let send_btn = document.getElementsByClassName("send")
        send_btn[0].id = btn.id
      chat_div.innerHTML =""
      if(btn.innerHTML.includes(" *")){
       let a = btn.innerHTML
       a = a.replace(" *","")
       btn.innerHTML = a
      }
      let val = ""+btn.innerHTML

      $("label[for='receiver']").html(val)

       //AJAX
       $.ajax({
        url:"/get-chats",
        method:"POST",
        data:{roomID:btn.id},
        success:function(data){
         (data).forEach(msg=>{
          for(let i=0;i<msg.chats.length;i++){
            if(msg.chats[i].data != undefined){
             if(msg.chats[i].username == sender){
            chat_div.innerHTML += '<p style="margin-left:100px;">'+msg.chats[i].data+'</p>'
           }
           if(msg.chats[i].username != sender){
            chat_div.innerHTML += '<p >'+msg.chats[i].data+'</p>'

           }
          }
          }
          
           
         })
        }
      })
       //
        
      }

      document.getElementById("users").prepend(btn)
          }
        }
            )}
        })
      }
    const create_new_chat =()=>{
    let sender = $("input[name='sender']").val()

      let receiver = $("input[name='r']").val()
      // alert(receiver)

      $.ajax({
        url:"/get-room-id",
        method:"POST",
        data:{sender:sender,r:receiver},
        success:function(id){
          // alert(id)
        }

      })
     
    }

    const on_post =(btn)=>{
      let sender = $("input[name='sender']").val()
      let receiver = $("input[name='r']").val()
      let msg = $("input[name='input msg']").val()
     let isRead = 0
      socket.emit("get-clients-no",btn.id)
      socket.on("get-clients-no",data=>{
        if(data==1){
        $.ajax({
        url:"/send-msg",
        method:"POST",
        data:{msg:msg,sender:sender,roomID:btn.id, receiver:receiver,isRead:1},
        success:function(){
          alert("done "+isRead)
        }
      })
        }
        else{
          $.ajax({
        url:"/send-msg",
        method:"POST",
        data:{msg:msg,sender:sender,roomID:btn.id, receiver:receiver,isRead:0},
        success:function(){
          alert("done "+isRead)
          
        }
      })
        }
      })
      
      
      // $.ajax({
      //   url:"/send-msg",
      //   method:"POST",
      //   data:{msg:msg,sender:sender,roomID:btn.id, receiver:receiver,isRead:isRead},
      //   success:function(){
          
      //   }
      // })
      
      socket.emit("express-chat",{roomID:btn.id,msg:msg})
      
      chat_div.innerHTML += '<p style="margin-left:100px;">' +msg+'</p>'
    }
    const show_chat =()=>{
      let send_btn = document.getElementsByClassName("send")

      let btn = send_btn[0]
      let sender = $("input[name='sender']").val()
      let i=0
      $.ajax({
        url:"/get-chats",
        method:"POST",
        data:{roomID:btn.id},
        success:function(data){
         (data).forEach(msg=>{
          for(let i=0;i<msg.chats.length;i++){
            if(msg.chats[i].data != undefined){
             if(msg.chats[i].username == sender){
            chat_div.innerHTML += '<p style="margin-left:100px;">'+msg.chats[i].data+'</p>'
           }
           if(msg.chats[i].username != sender){
            chat_div.innerHTML += '<p >'+msg.chats[i].data+'</p>'

           }
          }
          }
          
           
         })
        }
      })
      
    }
  </script>
</body>
</html>
